<p id="notice"><%= notice %></p>

<h1>Listing Item Options</h1>

<table>
  <thead>
    <tr>
      <th>Item option id</th>
      <th>Option id</th>
      <th>Description</th>
      <th>Grade</th>
      <th>Detail id</th>
      <th>Min</th>
      <th>Max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_options.each do |item_option| %>
      <tr>
        <td><%= item_option.ITEM_OPTION_ID %></td>
        <td><%= item_option.OPTION_ID %></td>
        <td><%= item_option.DESCRIPTION %></td>
        <td><%= item_option.GRADE %></td>
        <td><%= item_option.DETAIL_ID %></td>
        <td><%= item_option.MIN %></td>
        <td><%= item_option.MAX %></td>
        <td><%= link_to 'Show', item_option %></td>
        <td><%= link_to 'Edit', edit_item_option_path(item_option) %></td>
        <td><%= link_to 'Destroy', item_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item option', new_item_option_path %>
