<p id="notice"><%= notice %></p>

<h1>Listing Monster Grade Bonus</h1>

<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Status id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_grade_bonus.each do |monster_grade_bonu| %>
      <tr>
        <td><%= monster_grade_bonu.GRADE %></td>
        <td><%= monster_grade_bonu.STATUS_ID %></td>
        <td><%= link_to 'Show', monster_grade_bonu %></td>
        <td><%= link_to 'Edit', edit_monster_grade_bonu_path(monster_grade_bonu) %></td>
        <td><%= link_to 'Destroy', monster_grade_bonu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster grade bonu', new_monster_grade_bonu_path %>
