<p id="notice"><%= notice %></p>

<p>
  <strong>Phase id:</strong>
  <%= @phase_info.PHASE_ID %>
</p>

<p>
  <strong>Init pos:</strong>
  <%= @phase_info.INIT_POS %>
</p>

<p>
  <strong>Move time:</strong>
  <%= @phase_info.MOVE_TIME %>
</p>

<p>
  <strong>Clear:</strong>
  <%= @phase_info.CLEAR %>
</p>

<p>
  <strong>Wait time:</strong>
  <%= @phase_info.WAIT_TIME %>
</p>

<p>
  <strong>Stay time:</strong>
  <%= @phase_info.STAY_TIME %>
</p>

<p>
  <strong>Monster:</strong>
  <%= @phase_info.MONSTER %>
</p>

<p>
  <strong>Monster gen info:</strong>
  <%= @phase_info.MONSTER_GEN_INFO %>
</p>

<p>
  <strong>Monster lv:</strong>
  <%= @phase_info.MONSTER_LV %>
</p>

<p>
  <strong>Appear speed:</strong>
  <%= @phase_info.APPEAR_SPEED %>
</p>

<p>
  <strong>Appear time:</strong>
  <%= @phase_info.APPEAR_TIME %>
</p>

<p>
  <strong>Team index:</strong>
  <%= @phase_info.TEAM_INDEX %>
</p>

<p>
  <strong>Start scenario:</strong>
  <%= @phase_info.START_SCENARIO %>
</p>

<p>
  <strong>End scenario:</strong>
  <%= @phase_info.END_SCENARIO %>
</p>

<p>
  <strong>Is boss phase:</strong>
  <%= @phase_info.IS_BOSS_PHASE %>
</p>

<p>
  <strong>Phase width:</strong>
  <%= @phase_info.PHASE_WIDTH %>
</p>

<%= link_to 'Edit', edit_phase_info_path(@phase_info) %> |
<%= link_to 'Back', phase_infos_path %>
