<p id="notice"><%= notice %></p>

<p>
  <strong>User no:</strong>
  <%= @user_instance.USER_NO %>
</p>

<p>
  <strong>User id:</strong>
  <%= @user_instance.USER_ID %>
</p>

<p>
  <strong>User lv:</strong>
  <%= @user_instance.USER_LV %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @user_instance.EXP %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user_instance.NICKNAME %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @user_instance.CASH %>
</p>

<p>
  <strong>Money:</strong>
  <%= @user_instance.MONEY %>
</p>

<p>
  <strong>Stamina adventure time:</strong>
  <%= @user_instance.STAMINA_ADVENTURE_TIME %>
</p>

<p>
  <strong>Stamina adventure:</strong>
  <%= @user_instance.STAMINA_ADVENTURE %>
</p>

<p>
  <strong>Stamina special time:</strong>
  <%= @user_instance.STAMINA_SPECIAL_TIME %>
</p>

<p>
  <strong>Stamina special:</strong>
  <%= @user_instance.STAMINA_SPECIAL %>
</p>

<p>
  <strong>Stamina pvp time:</strong>
  <%= @user_instance.STAMINA_PVP_TIME %>
</p>

<p>
  <strong>Stamina pvp:</strong>
  <%= @user_instance.STAMINA_PVP %>
</p>

<p>
  <strong>Friend point:</strong>
  <%= @user_instance.FRIEND_POINT %>
</p>

<p>
  <strong>Postbox slot:</strong>
  <%= @user_instance.POSTBOX_SLOT %>
</p>

<p>
  <strong>Cache monster slot:</strong>
  <%= @user_instance.CACHE_MONSTER_SLOT %>
</p>

<p>
  <strong>Ext monster slot:</strong>
  <%= @user_instance.EXT_MONSTER_SLOT %>
</p>

<p>
  <strong>Cache item slot:</strong>
  <%= @user_instance.CACHE_ITEM_SLOT %>
</p>

<p>
  <strong>Ext item slot:</strong>
  <%= @user_instance.EXT_ITEM_SLOT %>
</p>

<p>
  <strong>Cache friend slot:</strong>
  <%= @user_instance.CACHE_FRIEND_SLOT %>
</p>

<p>
  <strong>Ext friend count:</strong>
  <%= @user_instance.EXT_FRIEND_COUNT %>
</p>

<p>
  <strong>Mastery reset count:</strong>
  <%= @user_instance.MASTERY_RESET_COUNT %>
</p>

<p>
  <strong>Lastest active time:</strong>
  <%= @user_instance.LASTEST_ACTIVE_TIME %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @user_instance.PERMISSION %>
</p>

<p>
  <strong>Lastest chr id:</strong>
  <%= @user_instance.LASTEST_CHR_ID %>
</p>

<p>
  <strong>Lastest chr lv:</strong>
  <%= @user_instance.LASTEST_CHR_LV %>
</p>

<p>
  <strong>Mastery point:</strong>
  <%= @user_instance.MASTERY_POINT %>
</p>

<p>
  <strong>Infi tower floor:</strong>
  <%= @user_instance.INFI_TOWER_FLOOR %>
</p>

<p>
  <strong>Friend delete count:</strong>
  <%= @user_instance.FRIEND_DELETE_COUNT %>
</p>

<%= link_to 'Edit', edit_user_instance_path(@user_instance) %> |
<%= link_to 'Back', user_instances_path %>
