<p id="notice"><%= notice %></p>

<p>
  <strong>Monster enchant id:</strong>
  <%= @monster_enchant.MONSTER_ENCHANT_ID %>
</p>

<p>
  <strong>Monster grade:</strong>
  <%= @monster_enchant.MONSTER_GRADE %>
</p>

<p>
  <strong>Enchant result:</strong>
  <%= @monster_enchant.ENCHANT_RESULT %>
</p>

<p>
  <strong>Enchant percent:</strong>
  <%= @monster_enchant.ENCHANT_PERCENT %>
</p>

<p>
  <strong>Equal monster skill bonus:</strong>
  <%= @monster_enchant.EQUAL_MONSTER_SKILL_BONUS %>
</p>

<p>
  <strong>Base exp:</strong>
  <%= @monster_enchant.BASE_EXP %>
</p>

<p>
  <strong>Level bonus exp:</strong>
  <%= @monster_enchant.LEVEL_BONUS_EXP %>
</p>

<p>
  <strong>Equal monster exp bonus:</strong>
  <%= @monster_enchant.EQUAL_MONSTER_EXP_BONUS %>
</p>

<p>
  <strong>Base money:</strong>
  <%= @monster_enchant.BASE_MONEY %>
</p>

<p>
  <strong>Level money:</strong>
  <%= @monster_enchant.LEVEL_MONEY %>
</p>

<%= link_to 'Edit', edit_monster_enchant_path(@monster_enchant) %> |
<%= link_to 'Back', monster_enchants_path %>
