<p id="notice"><%= notice %></p>

<p>
  <strong>Evolution id:</strong>
  <%= @evolution_info.EVOLUTION_ID %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @evolution_info.GRADE %>
</p>

<p>
  <strong>Raw:</strong>
  <%= @evolution_info.RAW %>
</p>

<p>
  <strong>Special monster list:</strong>
  <%= @evolution_info.SPECIAL_MONSTER_LIST %>
</p>

<p>
  <strong>Special skill list:</strong>
  <%= @evolution_info.SPECIAL_SKILL_LIST %>
</p>

<p>
  <strong>Result:</strong>
  <%= @evolution_info.RESULT %>
</p>

<p>
  <strong>Result percent:</strong>
  <%= @evolution_info.RESULT_PERCENT %>
</p>

<p>
  <strong>Price coin:</strong>
  <%= @evolution_info.PRICE_COIN %>
</p>

<p>
  <strong>Price diamond:</strong>
  <%= @evolution_info.PRICE_DIAMOND %>
</p>

<p>
  <strong>Evolution event type:</strong>
  <%= @evolution_info.EVOLUTION_EVENT_TYPE %>
</p>

<p>
  <strong>Percent up:</strong>
  <%= @evolution_info.PERCENT_UP %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @evolution_info.START_DATE_TIME %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @evolution_info.END_DATE_TIME %>
</p>

<%= link_to 'Edit', edit_evolution_info_path(@evolution_info) %> |
<%= link_to 'Back', evolution_infos_path %>
