<p id="notice"><%= notice %></p>

<h1>Listing Monster Grows</h1>

<table>
  <thead>
    <tr>
      <th>Grow id</th>
      <th>Level</th>
      <th>Grow type detail</th>
      <th>Require exp</th>
      <th>Status id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_grows.each do |monster_grow| %>
      <tr>
        <td><%= monster_grow.GROW_ID %></td>
        <td><%= monster_grow.LEVEL %></td>
        <td><%= monster_grow.GROW_TYPE_DETAIL %></td>
        <td><%= monster_grow.REQUIRE_EXP %></td>
        <td><%= monster_grow.STATUS_ID %></td>
        <td><%= link_to 'Show', monster_grow %></td>
        <td><%= link_to 'Edit', edit_monster_grow_path(monster_grow) %></td>
        <td><%= link_to 'Destroy', monster_grow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster grow', new_monster_grow_path %>
