<%= form_for(@pvp_instance) do |f| %>
  <% if @pvp_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pvp_instance.errors.count, "error") %> prohibited this pvp_instance from being saved:</h2>

      <ul>
      <% @pvp_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CHARACTER_NO %><br>
    <%= f.number_field :CHARACTER_NO %>
  </div>
  <div class="field">
    <%= f.label :CHARACTER_LV %><br>
    <%= f.number_field :CHARACTER_LV %>
  </div>
  <div class="field">
    <%= f.label :CHARACTER_ID %><br>
    <%= f.number_field :CHARACTER_ID %>
  </div>
  <div class="field">
    <%= f.label :COSTUME_ID %><br>
    <%= f.number_field :COSTUME_ID %>
  </div>
  <div class="field">
    <%= f.label :USER_NO %><br>
    <%= f.number_field :USER_NO %>
  </div>
  <div class="field">
    <%= f.label :USER_NICKNAME %><br>
    <%= f.text_area :USER_NICKNAME %>
  </div>
  <div class="field">
    <%= f.label :USER_LV %><br>
    <%= f.number_field :USER_LV %>
  </div>
  <div class="field">
    <%= f.label :RATING %><br>
    <%= f.number_field :RATING %>
  </div>
  <div class="field">
    <%= f.label :PARTY_ATTACKER %><br>
    <%= f.text_area :PARTY_ATTACKER %>
  </div>
  <div class="field">
    <%= f.label :ATTACKER_POWER %><br>
    <%= f.text_area :ATTACKER_POWER %>
  </div>
  <div class="field">
    <%= f.label :PARTY_DEFENDER %><br>
    <%= f.text_area :PARTY_DEFENDER %>
  </div>
  <div class="field">
    <%= f.label :DEFENDER_POWER %><br>
    <%= f.text_area :DEFENDER_POWER %>
  </div>
  <div class="field">
    <%= f.label :SEASON_NUM %><br>
    <%= f.number_field :SEASON_NUM %>
  </div>
  <div class="field">
    <%= f.label :IS_SUCCESSION_VICTORY %><br>
    <%= f.text_area :IS_SUCCESSION_VICTORY %>
  </div>
  <div class="field">
    <%= f.label :SUCCESSION_COUNT %><br>
    <%= f.number_field :SUCCESSION_COUNT %>
  </div>
  <div class="field">
    <%= f.label :VICTORY_COUNT %><br>
    <%= f.number_field :VICTORY_COUNT %>
  </div>
  <div class="field">
    <%= f.label :DEFEAT_COUNT %><br>
    <%= f.number_field :DEFEAT_COUNT %>
  </div>
  <div class="field">
    <%= f.label :CUR_MATCH_NO %><br>
    <%= f.number_field :CUR_MATCH_NO %>
  </div>
  <div class="field">
    <%= f.label :RANK %><br>
    <%= f.number_field :RANK %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
