<p id="notice"><%= notice %></p>

<p>
  <strong>Character no:</strong>
  <%= @pvp_instance.CHARACTER_NO %>
</p>

<p>
  <strong>Character lv:</strong>
  <%= @pvp_instance.CHARACTER_LV %>
</p>

<p>
  <strong>Character id:</strong>
  <%= @pvp_instance.CHARACTER_ID %>
</p>

<p>
  <strong>Costume id:</strong>
  <%= @pvp_instance.COSTUME_ID %>
</p>

<p>
  <strong>User no:</strong>
  <%= @pvp_instance.USER_NO %>
</p>

<p>
  <strong>User nickname:</strong>
  <%= @pvp_instance.USER_NICKNAME %>
</p>

<p>
  <strong>User lv:</strong>
  <%= @pvp_instance.USER_LV %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @pvp_instance.RATING %>
</p>

<p>
  <strong>Party attacker:</strong>
  <%= @pvp_instance.PARTY_ATTACKER %>
</p>

<p>
  <strong>Attacker power:</strong>
  <%= @pvp_instance.ATTACKER_POWER %>
</p>

<p>
  <strong>Party defender:</strong>
  <%= @pvp_instance.PARTY_DEFENDER %>
</p>

<p>
  <strong>Defender power:</strong>
  <%= @pvp_instance.DEFENDER_POWER %>
</p>

<p>
  <strong>Season num:</strong>
  <%= @pvp_instance.SEASON_NUM %>
</p>

<p>
  <strong>Is succession victory:</strong>
  <%= @pvp_instance.IS_SUCCESSION_VICTORY %>
</p>

<p>
  <strong>Succession count:</strong>
  <%= @pvp_instance.SUCCESSION_COUNT %>
</p>

<p>
  <strong>Victory count:</strong>
  <%= @pvp_instance.VICTORY_COUNT %>
</p>

<p>
  <strong>Defeat count:</strong>
  <%= @pvp_instance.DEFEAT_COUNT %>
</p>

<p>
  <strong>Cur match no:</strong>
  <%= @pvp_instance.CUR_MATCH_NO %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @pvp_instance.RANK %>
</p>

<%= link_to 'Edit', edit_pvp_instance_path(@pvp_instance) %> |
<%= link_to 'Back', pvp_instances_path %>
