<p id="notice"><%= notice %></p>

<h1>Listing Server Lists</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Server type</th>
      <th>Address</th>
      <th>Name</th>
      <th>Cu</th>
      <th>Ru</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @server_lists.each do |server_list| %>
      <tr>
        <td><%= server_list.INDEX %></td>
        <td><%= server_list.SERVER_TYPE %></td>
        <td><%= server_list.ADDRESS %></td>
        <td><%= server_list.NAME %></td>
        <td><%= server_list.CU %></td>
        <td><%= server_list.RU %></td>
        <td><%= link_to 'Show', server_list %></td>
        <td><%= link_to 'Edit', edit_server_list_path(server_list) %></td>
        <td><%= link_to 'Destroy', server_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server list', new_server_list_path %>
