<p id="notice"><%= notice %></p>

<p>
  <strong>Stage id:</strong>
  <%= @stage_info.STAGE_ID %>
</p>

<p>
  <strong>Area id:</strong>
  <%= @stage_info.AREA_ID %>
</p>

<p>
  <strong>Stage number:</strong>
  <%= @stage_info.STAGE_NUMBER %>
</p>

<p>
  <strong>Open:</strong>
  <%= @stage_info.OPEN %>
</p>

<p>
  <strong>Type:</strong>
  <%= @stage_info.TYPE %>
</p>

<p>
  <strong>Level:</strong>
  <%= @stage_info.LEVEL %>
</p>

<p>
  <strong>Coordinate:</strong>
  <%= @stage_info.COORDINATE %>
</p>

<p>
  <strong>Bgm:</strong>
  <%= @stage_info.BGM %>
</p>

<p>
  <strong>Bg color:</strong>
  <%= @stage_info.BG_COLOR %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stage_info.NAME %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @stage_info.EXPLAIN %>
</p>

<p>
  <strong>Character level:</strong>
  <%= @stage_info.CHARACTER_LEVEL %>
</p>

<p>
  <strong>Stamina:</strong>
  <%= @stage_info.STAMINA %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @stage_info.PHASE %>
</p>

<p>
  <strong>Monster:</strong>
  <%= @stage_info.MONSTER %>
</p>

<p>
  <strong>Item:</strong>
  <%= @stage_info.ITEM %>
</p>

<p>
  <strong>Stage icon:</strong>
  <%= @stage_info.STAGE_ICON %>
</p>

<p>
  <strong>Clear score:</strong>
  <%= @stage_info.CLEAR_SCORE %>
</p>

<p>
  <strong>Clear exp:</strong>
  <%= @stage_info.CLEAR_EXP %>
</p>

<p>
  <strong>Clear money:</strong>
  <%= @stage_info.CLEAR_MONEY %>
</p>

<p>
  <strong>Clear 1 reward:</strong>
  <%= @stage_info.CLEAR_1_REWARD %>
</p>

<p>
  <strong>Clear 1 reward probability:</strong>
  <%= @stage_info.CLEAR_1_REWARD_PROBABILITY %>
</p>

<p>
  <strong>Clear 2 reward:</strong>
  <%= @stage_info.CLEAR_2_REWARD %>
</p>

<p>
  <strong>Clear 2 reward probability:</strong>
  <%= @stage_info.CLEAR_2_REWARD_PROBABILITY %>
</p>

<p>
  <strong>Clear 3 reward:</strong>
  <%= @stage_info.CLEAR_3_REWARD %>
</p>

<p>
  <strong>Clear 3 reward probability:</strong>
  <%= @stage_info.CLEAR_3_REWARD_PROBABILITY %>
</p>

<p>
  <strong>Start scenario:</strong>
  <%= @stage_info.START_SCENARIO %>
</p>

<p>
  <strong>End scenario:</strong>
  <%= @stage_info.END_SCENARIO %>
</p>

<p>
  <strong>Bg prefeb:</strong>
  <%= @stage_info.BG_PREFEB %>
</p>

<p>
  <strong>Infi tower sp reward:</strong>
  <%= @stage_info.INFI_TOWER_SP_REWARD %>
</p>

<p>
  <strong>Infi tower preview:</strong>
  <%= @stage_info.INFI_TOWER_PREVIEW %>
</p>

<%= link_to 'Edit', edit_stage_info_path(@stage_info) %> |
<%= link_to 'Back', stage_infos_path %>
