<%= form_for(@monster_enchant_bonu) do |f| %>
  <% if @monster_enchant_bonu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster_enchant_bonu.errors.count, "error") %> prohibited this monster_enchant_bonu from being saved:</h2>

      <ul>
      <% @monster_enchant_bonu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MONSTER_TYPE %><br>
    <%= f.text_area :MONSTER_TYPE %>
  </div>
  <div class="field">
    <%= f.label :STATUS_ID %><br>
    <%= f.number_field :STATUS_ID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
