<p id="notice"><%= notice %></p>

<p>
  <strong>Item no:</strong>
  <%= @item_instance.ITEM_NO %>
</p>

<p>
  <strong>Item id:</strong>
  <%= @item_instance.ITEM_ID %>
</p>

<p>
  <strong>User no:</strong>
  <%= @item_instance.USER_NO %>
</p>

<p>
  <strong>Character no:</strong>
  <%= @item_instance.CHARACTER_NO %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @item_instance.START_DATE %>
</p>

<p>
  <strong>End date:</strong>
  <%= @item_instance.END_DATE %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @item_instance.ITEM_NAME %>
</p>

<p>
  <strong>Level:</strong>
  <%= @item_instance.LEVEL %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @item_instance.GRADE %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @item_instance.LIMIT %>
</p>

<p>
  <strong>Value:</strong>
  <%= @item_instance.VALUE %>
</p>

<p>
  <strong>Default option:</strong>
  <%= @item_instance.DEFAULT_OPTION %>
</p>

<p>
  <strong>Option list:</strong>
  <%= @item_instance.OPTION_LIST %>
</p>

<p>
  <strong>Slot type:</strong>
  <%= @item_instance.SLOT_TYPE %>
</p>

<p>
  <strong>Expire type:</strong>
  <%= @item_instance.EXPIRE_TYPE %>
</p>

<p>
  <strong>Durability:</strong>
  <%= @item_instance.DURABILITY %>
</p>

<p>
  <strong>Enchant:</strong>
  <%= @item_instance.ENCHANT %>
</p>

<%= link_to 'Edit', edit_item_instance_path(@item_instance) %> |
<%= link_to 'Back', item_instances_path %>
