<p id="notice"><%= notice %></p>

<p>
  <strong>Pvp rank cache instance no:</strong>
  <%= @pvp_rank_cache_instance.PVP_RANK_CACHE_INSTANCE_NO %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @pvp_rank_cache_instance.RANK %>
</p>

<p>
  <strong>Character no:</strong>
  <%= @pvp_rank_cache_instance.CHARACTER_NO %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @pvp_rank_cache_instance.RATING %>
</p>

<%= link_to 'Edit', edit_pvp_rank_cache_instance_path(@pvp_rank_cache_instance) %> |
<%= link_to 'Back', pvp_rank_cache_instances_path %>
