<p id="notice"><%= notice %></p>

<p>
  <strong>Status id:</strong>
  <%= @status.STATUS_ID %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @status.ATTACK %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @status.DEFENSE %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @status.HP %>
</p>

<p>
  <strong>Mp:</strong>
  <%= @status.MP %>
</p>

<p>
  <strong>Rage base:</strong>
  <%= @status.RAGE_BASE %>
</p>

<p>
  <strong>Attack speed:</strong>
  <%= @status.ATTACK_SPEED %>
</p>

<p>
  <strong>Move speed x:</strong>
  <%= @status.MOVE_SPEED_X %>
</p>

<p>
  <strong>Move speed z:</strong>
  <%= @status.MOVE_SPEED_Z %>
</p>

<p>
  <strong>Critical rate:</strong>
  <%= @status.CRITICAL_RATE %>
</p>

<p>
  <strong>Critical avoid:</strong>
  <%= @status.CRITICAL_AVOID %>
</p>

<p>
  <strong>Critical damage:</strong>
  <%= @status.CRITICAL_DAMAGE %>
</p>

<p>
  <strong>Hit rate:</strong>
  <%= @status.HIT_RATE %>
</p>

<p>
  <strong>Dodge rate:</strong>
  <%= @status.DODGE_RATE %>
</p>

<p>
  <strong>Hp regen:</strong>
  <%= @status.HP_REGEN %>
</p>

<p>
  <strong>Mp regen:</strong>
  <%= @status.MP_REGEN %>
</p>

<p>
  <strong>Rage regen:</strong>
  <%= @status.RAGE_REGEN %>
</p>

<p>
  <strong>Cool time all:</strong>
  <%= @status.COOL_TIME_ALL %>
</p>

<p>
  <strong>Resist poison:</strong>
  <%= @status.RESIST_POISON %>
</p>

<p>
  <strong>Resist silence:</strong>
  <%= @status.RESIST_SILENCE %>
</p>

<p>
  <strong>Resist stun:</strong>
  <%= @status.RESIST_STUN %>
</p>

<p>
  <strong>Resist slow:</strong>
  <%= @status.RESIST_SLOW %>
</p>

<p>
  <strong>Level:</strong>
  <%= @status.LEVEL %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
