<p id="notice"><%= notice %></p>

<p>
  <strong>Pvp range id:</strong>
  <%= @pvp_range.PVP_RANGE_ID %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @pvp_range.RATING %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @pvp_range.RANK %>
</p>

<p>
  <strong>Add rank:</strong>
  <%= @pvp_range.ADD_RANK %>
</p>

<%= link_to 'Edit', edit_pvp_range_path(@pvp_range) %> |
<%= link_to 'Back', pvp_ranges_path %>
