<p id="notice"><%= notice %></p>

<h1>Listing Mastery Infos</h1>

<table>
  <thead>
    <tr>
      <th>Mastery id</th>
      <th>Mastery type</th>
      <th>Grade</th>
      <th>Name</th>
      <th>Explain</th>
      <th>Max level</th>
      <th>Option id</th>
      <th>Option effect</th>
      <th>Effect target</th>
      <th>Pre level</th>
      <th>Pre condition</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mastery_infos.each do |mastery_info| %>
      <tr>
        <td><%= mastery_info.MASTERY_ID %></td>
        <td><%= mastery_info.MASTERY_TYPE %></td>
        <td><%= mastery_info.GRADE %></td>
        <td><%= mastery_info.NAME %></td>
        <td><%= mastery_info.EXPLAIN %></td>
        <td><%= mastery_info.MAX_LEVEL %></td>
        <td><%= mastery_info.OPTION_ID %></td>
        <td><%= mastery_info.OPTION_EFFECT %></td>
        <td><%= mastery_info.EFFECT_TARGET %></td>
        <td><%= mastery_info.PRE_LEVEL %></td>
        <td><%= mastery_info.PRE_CONDITION %></td>
        <td><%= mastery_info.ICON %></td>
        <td><%= link_to 'Show', mastery_info %></td>
        <td><%= link_to 'Edit', edit_mastery_info_path(mastery_info) %></td>
        <td><%= link_to 'Destroy', mastery_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mastery info', new_mastery_info_path %>
