<p id="notice"><%= notice %></p>

<p>
  <strong>Mastery id:</strong>
  <%= @mastery_info.MASTERY_ID %>
</p>

<p>
  <strong>Mastery type:</strong>
  <%= @mastery_info.MASTERY_TYPE %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @mastery_info.GRADE %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mastery_info.NAME %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @mastery_info.EXPLAIN %>
</p>

<p>
  <strong>Max level:</strong>
  <%= @mastery_info.MAX_LEVEL %>
</p>

<p>
  <strong>Option id:</strong>
  <%= @mastery_info.OPTION_ID %>
</p>

<p>
  <strong>Option effect:</strong>
  <%= @mastery_info.OPTION_EFFECT %>
</p>

<p>
  <strong>Effect target:</strong>
  <%= @mastery_info.EFFECT_TARGET %>
</p>

<p>
  <strong>Pre level:</strong>
  <%= @mastery_info.PRE_LEVEL %>
</p>

<p>
  <strong>Pre condition:</strong>
  <%= @mastery_info.PRE_CONDITION %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @mastery_info.ICON %>
</p>

<%= link_to 'Edit', edit_mastery_info_path(@mastery_info) %> |
<%= link_to 'Back', mastery_infos_path %>
