<p id="notice"><%= notice %></p>

<p>
  <strong>Quest info id:</strong>
  <%= @quest_info.QUEST_INFO_ID %>
</p>

<p>
  <strong>Quest apply type:</strong>
  <%= @quest_info.QUEST_APPLY_TYPE %>
</p>

<p>
  <strong>Group id:</strong>
  <%= @quest_info.GROUP_ID %>
</p>

<p>
  <strong>Level limit:</strong>
  <%= @quest_info.LEVEL_LIMIT %>
</p>

<p>
  <strong>Next quest id:</strong>
  <%= @quest_info.NEXT_QUEST_ID %>
</p>

<p>
  <strong>Quest schedule id:</strong>
  <%= @quest_info.QUEST_SCHEDULE_ID %>
</p>

<p>
  <strong>Quest type id:</strong>
  <%= @quest_info.QUEST_TYPE_ID %>
</p>

<p>
  <strong>Quest grade type:</strong>
  <%= @quest_info.QUEST_GRADE_TYPE %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @quest_info.GRADE %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @quest_info.PREVIEW %>
</p>

<p>
  <strong>Maxvalue:</strong>
  <%= @quest_info.MAXVALUE %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @quest_info.REWARD %>
</p>

<p>
  <strong>Short cut:</strong>
  <%= @quest_info.SHORT_CUT %>
</p>

<p>
  <strong>Complete image:</strong>
  <%= @quest_info.COMPLETE_IMAGE %>
</p>

<p>
  <strong>Complete scene:</strong>
  <%= @quest_info.COMPLETE_SCENE %>
</p>

<p>
  <strong>Complete explan:</strong>
  <%= @quest_info.COMPLETE_EXPLAN %>
</p>

<%= link_to 'Edit', edit_quest_info_path(@quest_info) %> |
<%= link_to 'Back', quest_infos_path %>
