<p id="notice"><%= notice %></p>

<h1>Listing Gachas</h1>

<table>
  <thead>
    <tr>
      <th>Gacha id</th>
      <th>Gacha machine type</th>
      <th>Group id</th>
      <th>Reward probability</th>
      <th>Gacha name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gachas.each do |gacha| %>
      <tr>
        <td><%= gacha.GACHA_ID %></td>
        <td><%= gacha.GACHA_MACHINE_TYPE %></td>
        <td><%= gacha.GROUP_ID %></td>
        <td><%= gacha.REWARD_PROBABILITY %></td>
        <td><%= gacha.GACHA_NAME %></td>
        <td><%= link_to 'Show', gacha %></td>
        <td><%= link_to 'Edit', edit_gacha_path(gacha) %></td>
        <td><%= link_to 'Destroy', gacha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gacha', new_gacha_path %>
