<p id="notice"><%= notice %></p>

<p>
  <strong>Pvp record instance no:</strong>
  <%= @pvp_record_instance.PVP_RECORD_INSTANCE_NO %>
</p>

<p>
  <strong>Season num:</strong>
  <%= @pvp_record_instance.SEASON_NUM %>
</p>

<p>
  <strong>Character no:</strong>
  <%= @pvp_record_instance.CHARACTER_NO %>
</p>

<p>
  <strong>Result:</strong>
  <%= @pvp_record_instance.RESULT %>
</p>

<p>
  <strong>Result time:</strong>
  <%= @pvp_record_instance.RESULT_TIME %>
</p>

<p>
  <strong>Add rating:</strong>
  <%= @pvp_record_instance.ADD_RATING %>
</p>

<p>
  <strong>Result rating:</strong>
  <%= @pvp_record_instance.RESULT_RATING %>
</p>

<p>
  <strong>Match character no:</strong>
  <%= @pvp_record_instance.MATCH_CHARACTER_NO %>
</p>

<p>
  <strong>Match chr lv:</strong>
  <%= @pvp_record_instance.MATCH_CHR_LV %>
</p>

<p>
  <strong>Match chr id:</strong>
  <%= @pvp_record_instance.MATCH_CHR_ID %>
</p>

<p>
  <strong>Match user nickname:</strong>
  <%= @pvp_record_instance.MATCH_USER_NICKNAME %>
</p>

<p>
  <strong>Match user lv:</strong>
  <%= @pvp_record_instance.MATCH_USER_LV %>
</p>

<p>
  <strong>Match chr def power:</strong>
  <%= @pvp_record_instance.MATCH_CHR_DEF_POWER %>
</p>

<p>
  <strong>Match monster id:</strong>
  <%= @pvp_record_instance.MATCH_MONSTER_ID %>
</p>

<p>
  <strong>Match monster lv:</strong>
  <%= @pvp_record_instance.MATCH_MONSTER_LV %>
</p>

<%= link_to 'Edit', edit_pvp_record_instance_path(@pvp_record_instance) %> |
<%= link_to 'Back', pvp_record_instances_path %>
