<p id="notice"><%= notice %></p>

<h1>Listing Daychecks</h1>

<table>
  <thead>
    <tr>
      <th>Daycheck id</th>
      <th>User type</th>
      <th>Day</th>
      <th>Reward</th>
      <th>Ui label</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daychecks.each do |daycheck| %>
      <tr>
        <td><%= daycheck.DAYCHECK_ID %></td>
        <td><%= daycheck.USER_TYPE %></td>
        <td><%= daycheck.DAY %></td>
        <td><%= daycheck.REWARD %></td>
        <td><%= daycheck.UI_LABEL %></td>
        <td><%= daycheck.ICON %></td>
        <td><%= link_to 'Show', daycheck %></td>
        <td><%= link_to 'Edit', edit_daycheck_path(daycheck) %></td>
        <td><%= link_to 'Destroy', daycheck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daycheck', new_daycheck_path %>
