<p id="notice"><%= notice %></p>

<p>
  <strong>Daycheck id:</strong>
  <%= @daycheck.DAYCHECK_ID %>
</p>

<p>
  <strong>User type:</strong>
  <%= @daycheck.USER_TYPE %>
</p>

<p>
  <strong>Day:</strong>
  <%= @daycheck.DAY %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @daycheck.REWARD %>
</p>

<p>
  <strong>Ui label:</strong>
  <%= @daycheck.UI_LABEL %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @daycheck.ICON %>
</p>

<%= link_to 'Edit', edit_daycheck_path(@daycheck) %> |
<%= link_to 'Back', daychecks_path %>
