<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @ai_script.index %>
</p>

<p>
  <strong>Ai type:</strong>
  <%= @ai_script.ai_type %>
</p>

<p>
  <strong>Protect object name:</strong>
  <%= @ai_script.protect_object_name %>
</p>

<p>
  <strong>Protect range:</strong>
  <%= @ai_script.protect_range %>
</p>

<p>
  <strong>Search range:</strong>
  <%= @ai_script.search_range %>
</p>

<p>
  <strong>Search enemy type:</strong>
  <%= @ai_script.search_enemy_type %>
</p>

<p>
  <strong>Idle time stop:</strong>
  <%= @ai_script.idle_time_stop %>
</p>

<p>
  <strong>Idle time random range:</strong>
  <%= @ai_script.idle_time_random_range %>
</p>

<p>
  <strong>Attack time stop:</strong>
  <%= @ai_script.attack_time_stop %>
</p>

<p>
  <strong>Idle move range:</strong>
  <%= @ai_script.idle_move_range %>
</p>

<p>
  <strong>Go away time:</strong>
  <%= @ai_script.go_away_time %>
</p>

<p>
  <strong>Go away plus random:</strong>
  <%= @ai_script.go_away_plus_random %>
</p>

<p>
  <strong>State stay time:</strong>
  <%= @ai_script.state_stay_time %>
</p>

<p>
  <strong>Fixed idle stay time:</strong>
  <%= @ai_script.fixed_idle_stay_time %>
</p>

<p>
  <strong>Skill use percent:</strong>
  <%= @ai_script.skill_use_percent %>
</p>

<p>
  <strong>Attack after type:</strong>
  <%= @ai_script.attack_after_type %>
</p>

<p>
  <strong>Is all include phase:</strong>
  <%= @ai_script.is_all_include_phase %>
</p>

<p>
  <strong>Is reset under attack:</strong>
  <%= @ai_script.is_reset_under_attack %>
</p>

<p>
  <strong>Add serch range:</strong>
  <%= @ai_script.add_serch_range %>
</p>

<%= link_to 'Edit', edit_ai_script_path(@ai_script) %> |
<%= link_to 'Back', ai_scripts_path %>
