<h1>Listing stage_instances</h1>

<table>
  <thead>
    <tr>
      <th>Stage progress no</th>
      <th>User no</th>
      <th>Character no</th>
      <th>Party monster id</th>
      <th>Stage id</th>
      <th>Clear exp no</th>
      <th>Clear money no</th>
      <th>Clear reward no</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stage_instances.each do |stage_instance| %>
      <tr>
        <td><%= stage_instance.STAGE_PROGRESS_NO %></td>
        <td><%= stage_instance.USER_NO %></td>
        <td><%= stage_instance.CHARACTER_NO %></td>
        <td><%= stage_instance.PARTY_MONSTER_ID %></td>
        <td><%= stage_instance.STAGE_ID %></td>
        <td><%= stage_instance.CLEAR_EXP_NO %></td>
        <td><%= stage_instance.CLEAR_MONEY_NO %></td>
        <td><%= stage_instance.CLEAR_REWARD_NO %></td>
        <td><%= stage_instance.START_DATE %></td>
        <td><%= link_to 'Show', stage_instance %></td>
        <td><%= link_to 'Edit', edit_stage_instance_path(stage_instance) %></td>
        <td><%= link_to 'Destroy', stage_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage instance', new_stage_instance_path %>
