<p id="notice"><%= notice %></p>

<p>
  <strong>Item reoption id:</strong>
  <%= @item_reoption.ITEM_REOPTION_ID %>
</p>

<p>
  <strong>Item category:</strong>
  <%= @item_reoption.ITEM_CATEGORY %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @item_reoption.GRADE %>
</p>

<p>
  <strong>Level:</strong>
  <%= @item_reoption.LEVEL %>
</p>

<p>
  <strong>Money:</strong>
  <%= @item_reoption.MONEY %>
</p>

<%= link_to 'Edit', edit_item_reoption_path(@item_reoption) %> |
<%= link_to 'Back', item_reoptions_path %>
