<p id="notice"><%= notice %></p>

<p>
  <strong>Item id:</strong>
  <%= @item_info.ITEM_ID %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @item_info.ICON %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item_info.NAME %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @item_info.EXPLAIN %>
</p>

<p>
  <strong>Is enchant:</strong>
  <%= @item_info.IS_ENCHANT %>
</p>

<p>
  <strong>Is reoption:</strong>
  <%= @item_info.IS_REOPTION %>
</p>

<p>
  <strong>Is sell:</strong>
  <%= @item_info.IS_SELL %>
</p>

<p>
  <strong>Level:</strong>
  <%= @item_info.LEVEL %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @item_info.GRADE %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @item_info.LIMIT %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item_info.CATEGORY %>
</p>

<p>
  <strong>Costume id:</strong>
  <%= @item_info.COSTUME_ID %>
</p>

<p>
  <strong>Default option:</strong>
  <%= @item_info.DEFAULT_OPTION %>
</p>

<p>
  <strong>Item option list:</strong>
  <%= @item_info.ITEM_OPTION_LIST %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item_info.PRICE %>
</p>

<p>
  <strong>Value:</strong>
  <%= @item_info.VALUE %>
</p>

<p>
  <strong>Expire type:</strong>
  <%= @item_info.EXPIRE_TYPE %>
</p>

<p>
  <strong>Durability:</strong>
  <%= @item_info.DURABILITY %>
</p>

<%= link_to 'Edit', edit_item_info_path(@item_info) %> |
<%= link_to 'Back', item_infos_path %>
