<p id="notice"><%= notice %></p>

<p>
  <strong>Daycheck no:</strong>
  <%= @daycheck_instance.DAYCHECK_NO %>
</p>

<p>
  <strong>User no:</strong>
  <%= @daycheck_instance.USER_NO %>
</p>

<p>
  <strong>User type:</strong>
  <%= @daycheck_instance.USER_TYPE %>
</p>

<p>
  <strong>Daycheck id:</strong>
  <%= @daycheck_instance.DAYCHECK_ID %>
</p>

<p>
  <strong>Time:</strong>
  <%= @daycheck_instance.TIME %>
</p>

<p>
  <strong>Check:</strong>
  <%= @daycheck_instance.CHECK %>
</p>

<%= link_to 'Edit', edit_daycheck_instance_path(@daycheck_instance) %> |
<%= link_to 'Back', daycheck_instances_path %>
