<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @scenario_script.INDEX %>
</p>

<p>
  <strong>Dialogue type:</strong>
  <%= @scenario_script.DIALOGUE_TYPE %>
</p>

<p>
  <strong>Dialogue effect:</strong>
  <%= @scenario_script.DIALOGUE_EFFECT %>
</p>

<p>
  <strong>Speech back:</strong>
  <%= @scenario_script.SPEECH_BACK %>
</p>

<p>
  <strong>Character face:</strong>
  <%= @scenario_script.CHARACTER_FACE %>
</p>

<p>
  <strong>Face pos:</strong>
  <%= @scenario_script.FACE_POS %>
</p>

<p>
  <strong>Characotr index:</strong>
  <%= @scenario_script.CHARACOTR_INDEX %>
</p>

<p>
  <strong>String index:</strong>
  <%= @scenario_script.STRING_INDEX %>
</p>

<%= link_to 'Edit', edit_scenario_script_path(@scenario_script) %> |
<%= link_to 'Back', scenario_scripts_path %>
