<p id="notice"><%= notice %></p>

<p>
  <strong>Area id:</strong>
  <%= @area_info.AREA_ID %>
</p>

<p>
  <strong>Open:</strong>
  <%= @area_info.OPEN %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @area_info.START_DATE %>
</p>

<p>
  <strong>End date:</strong>
  <%= @area_info.END_DATE %>
</p>

<p>
  <strong>Area type:</strong>
  <%= @area_info.AREA_TYPE %>
</p>

<p>
  <strong>Bg color:</strong>
  <%= @area_info.BG_COLOR %>
</p>

<p>
  <strong>Name:</strong>
  <%= @area_info.NAME %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @area_info.EXPLAIN %>
</p>

<p>
  <strong>Character level:</strong>
  <%= @area_info.CHARACTER_LEVEL %>
</p>

<p>
  <strong>Image:</strong>
  <%= @area_info.IMAGE %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @area_info.MISSION %>
</p>

<p>
  <strong>Monster:</strong>
  <%= @area_info.MONSTER %>
</p>

<p>
  <strong>Item:</strong>
  <%= @area_info.ITEM %>
</p>

<p>
  <strong>Scenario start:</strong>
  <%= @area_info.SCENARIO_START %>
</p>

<p>
  <strong>Scenario end:</strong>
  <%= @area_info.SCENARIO_END %>
</p>

<%= link_to 'Edit', edit_area_info_path(@area_info) %> |
<%= link_to 'Back', area_infos_path %>
