<p id="notice"><%= notice %></p>

<h1>Listing Skill Scripts</h1>

<table>
  <thead>
    <tr>
      <th>Skill id</th>
      <th>Character type</th>
      <th>Skill category</th>
      <th>Type</th>
      <th>Level</th>
      <th>Learn level</th>
      <th>Skill group id</th>
      <th>Pre skill</th>
      <th>Passive apply skill</th>
      <th>Learn condition</th>
      <th>Icon</th>
      <th>Name</th>
      <th>Explain</th>
      <th>Active id</th>
      <th>Trigger</th>
      <th>Skill reaction id</th>
      <th>Range check reaction index</th>
      <th>Skill option id</th>
      <th>Power</th>
      <th>Spend mp</th>
      <th>Spend hp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_scripts.each do |skill_script| %>
      <tr>
        <td><%= skill_script.SKILL_ID %></td>
        <td><%= skill_script.CHARACTER_TYPE %></td>
        <td><%= skill_script.SKILL_CATEGORY %></td>
        <td><%= skill_script.TYPE %></td>
        <td><%= skill_script.LEVEL %></td>
        <td><%= skill_script.LEARN_LEVEL %></td>
        <td><%= skill_script.SKILL_GROUP_ID %></td>
        <td><%= skill_script.PRE_SKILL %></td>
        <td><%= skill_script.PASSIVE_APPLY_SKILL %></td>
        <td><%= skill_script.LEARN_CONDITION %></td>
        <td><%= skill_script.ICON %></td>
        <td><%= skill_script.NAME %></td>
        <td><%= skill_script.EXPLAIN %></td>
        <td><%= skill_script.ACTIVE_ID %></td>
        <td><%= skill_script.TRIGGER %></td>
        <td><%= skill_script.SKILL_REACTION_ID %></td>
        <td><%= skill_script.RANGE_CHECK_REACTION_INDEX %></td>
        <td><%= skill_script.SKILL_OPTION_ID %></td>
        <td><%= skill_script.POWER %></td>
        <td><%= skill_script.SPEND_MP %></td>
        <td><%= skill_script.SPEND_HP %></td>
        <td><%= link_to 'Show', skill_script %></td>
        <td><%= link_to 'Edit', edit_skill_script_path(skill_script) %></td>
        <td><%= link_to 'Destroy', skill_script, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill script', new_skill_script_path %>
