<p id="notice"><%= notice %></p>

<p>
  <strong>Skill id:</strong>
  <%= @skill_script.SKILL_ID %>
</p>

<p>
  <strong>Character type:</strong>
  <%= @skill_script.CHARACTER_TYPE %>
</p>

<p>
  <strong>Skill category:</strong>
  <%= @skill_script.SKILL_CATEGORY %>
</p>

<p>
  <strong>Type:</strong>
  <%= @skill_script.TYPE %>
</p>

<p>
  <strong>Level:</strong>
  <%= @skill_script.LEVEL %>
</p>

<p>
  <strong>Learn level:</strong>
  <%= @skill_script.LEARN_LEVEL %>
</p>

<p>
  <strong>Skill group id:</strong>
  <%= @skill_script.SKILL_GROUP_ID %>
</p>

<p>
  <strong>Pre skill:</strong>
  <%= @skill_script.PRE_SKILL %>
</p>

<p>
  <strong>Passive apply skill:</strong>
  <%= @skill_script.PASSIVE_APPLY_SKILL %>
</p>

<p>
  <strong>Learn condition:</strong>
  <%= @skill_script.LEARN_CONDITION %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @skill_script.ICON %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skill_script.NAME %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @skill_script.EXPLAIN %>
</p>

<p>
  <strong>Active id:</strong>
  <%= @skill_script.ACTIVE_ID %>
</p>

<p>
  <strong>Trigger:</strong>
  <%= @skill_script.TRIGGER %>
</p>

<p>
  <strong>Skill reaction id:</strong>
  <%= @skill_script.SKILL_REACTION_ID %>
</p>

<p>
  <strong>Range check reaction index:</strong>
  <%= @skill_script.RANGE_CHECK_REACTION_INDEX %>
</p>

<p>
  <strong>Skill option id:</strong>
  <%= @skill_script.SKILL_OPTION_ID %>
</p>

<p>
  <strong>Power:</strong>
  <%= @skill_script.POWER %>
</p>

<p>
  <strong>Spend mp:</strong>
  <%= @skill_script.SPEND_MP %>
</p>

<p>
  <strong>Spend hp:</strong>
  <%= @skill_script.SPEND_HP %>
</p>

<%= link_to 'Edit', edit_skill_script_path(@skill_script) %> |
<%= link_to 'Back', skill_scripts_path %>
