<p id="notice"><%= notice %></p>

<p>
  <strong>Item enchant effect id:</strong>
  <%= @item_enchant_effect.ITEM_ENCHANT_EFFECT_ID %>
</p>

<p>
  <strong>Item category:</strong>
  <%= @item_enchant_effect.ITEM_CATEGORY %>
</p>

<p>
  <strong>Level:</strong>
  <%= @item_enchant_effect.LEVEL %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @item_enchant_effect.GRADE %>
</p>

<p>
  <strong>Enchant:</strong>
  <%= @item_enchant_effect.ENCHANT %>
</p>

<p>
  <strong>Basic effect:</strong>
  <%= @item_enchant_effect.BASIC_EFFECT %>
</p>

<p>
  <strong>Bonus effect:</strong>
  <%= @item_enchant_effect.BONUS_EFFECT %>
</p>

<%= link_to 'Edit', edit_item_enchant_effect_path(@item_enchant_effect) %> |
<%= link_to 'Back', item_enchant_effects_path %>
