<div align="center" style="padding:10px;" class="container">
<h1>Coupon</h1>
<% time_str = DateTime.current %><%= time_str %><br><br>

<b>ISSUE</b>
<form action="/coupon/issue" method="get">
	<br>
	TYPE
	<select name="type1">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value1" value= "1" >

	<br>
	TYPE
	<select name="type2">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value2" value= "" >

	<br>
	TYPE
	<select name="type3">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value3" value= "" >

	<br>
	TYPE
	<select name="type4">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value4" value= "" >

	<br>
	TYPE
	<select name="type5">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value5" value= "" >
	
	
	<br>
	TYPE
	<select name="type6">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value6" value= "" >
	
	
	<br>
	TYPE
	<select name="type7">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value7" value= "" >
	
	
	<br>
	TYPE
	<select name="type8">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value8" value= "" >
	
	
	<br>
	TYPE
	<select name="type9">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value9" value= "" >
	
	
	<br>
	TYPE
	<select name="type10">
		<option value="GOLD" selected>엽전</option>
		<option value="DIAMOND">다이아몬드</option>
		<option value="MONSTER">요괴</option>
        <option value="ITEM">아이템</option>
        <option value="STAMINA_PVP">PVP 행동력</option>
        <option value="STAMINA_ADVENTURE">모험 행동력</option>
        <option value="STAMINA_SPECIAL">스페셜 행동력</option>
        <option value="GACHA">가챠</option>
        <option value="FRIEND_POINT">곡옥</option>
	</select>
	VALUE
	<input type="number" name="value10" value= "" >
	
	<br>
	COUNT
	<input type="number" name="count" value= "1" >

	<input type="submit" value="issue">
</form>
<br>

<b>FIND_BY_NO</b>
<form action="/coupon/show" method="get">
	COUPON_NO
	<input type="input" name="coupon_no" value= "" >
		
	<input type="submit" value="find">
</form>
<br>

<b>FIND_BY_CODE</b>
<form action="/coupon/find_by_code" method="get">
	COUPON_CODE
	<input type="input" name="coupon_string" value= "" >
		
	<input type="submit" value="find">
</form>
<br>

<b>FIND_BY_NICKNAME</b>
<form action="/coupon/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
		
	<input type="submit" value="find">
</form>
<br>

<b>ISSUE LIST</b>
<form action="/coupon/issue_list" method="get">
	START_DATE
	<input type="date" name="start_date" value= <%=time_str.to_date %> >
	<input type="time" name="start_time" value= <%="00:00:00 +0000"%> >
	
	END_DATE
	<input type="date" name="end_date" value= <%=time_str.to_date%> >
	<input type="time" name="end_time" value= <%=time_str.to_time.strftime("%T")%> >
		
	<input type="submit" value="find">
</form>
<br>

</div>