<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @actor_status_script.index %>
</p>

<p>
  <strong>Skill type:</strong>
  <%= @actor_status_script.SKILL_TYPE %>
</p>

<p>
  <strong>Scale x:</strong>
  <%= @actor_status_script.scale_x %>
</p>

<p>
  <strong>Scale y:</strong>
  <%= @actor_status_script.scale_y %>
</p>

<p>
  <strong>Spine name:</strong>
  <%= @actor_status_script.spine_name %>
</p>

<p>
  <strong>Ui sprite name:</strong>
  <%= @actor_status_script.ui_sprite_name %>
</p>

<p>
  <strong>Actor name:</strong>
  <%= @actor_status_script.actor_name %>
</p>

<p>
  <strong>Skill list:</strong>
  <%= @actor_status_script.skill_list %>
</p>

<p>
  <strong>Random skill list:</strong>
  <%= @actor_status_script.random_skill_list %>
</p>

<p>
  <strong>Random skill percent:</strong>
  <%= @actor_status_script.random_skill_percent %>
</p>

<p>
  <strong>Shadow:</strong>
  <%= @actor_status_script.shadow %>
</p>

<p>
  <strong>Shadow scale x:</strong>
  <%= @actor_status_script.shadow_scale_x %>
</p>

<p>
  <strong>Shadow scale y:</strong>
  <%= @actor_status_script.shadow_scale_y %>
</p>

<p>
  <strong>Attack count max:</strong>
  <%= @actor_status_script.attack_count_max %>
</p>

<p>
  <strong>Ai index:</strong>
  <%= @actor_status_script.ai_index %>
</p>

<p>
  <strong>Die animation curve:</strong>
  <%= @actor_status_script.die_animation_curve %>
</p>

<p>
  <strong>Die animation lenth:</strong>
  <%= @actor_status_script.die_animation_lenth %>
</p>

<p>
  <strong>Die animation speed:</strong>
  <%= @actor_status_script.die_animation_speed %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @actor_status_script.HP %>
</p>

<p>
  <strong>Mp:</strong>
  <%= @actor_status_script.MP %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @actor_status_script.ATTACK %>
</p>

<p>
  <strong>Defence:</strong>
  <%= @actor_status_script.DEFENCE %>
</p>

<p>
  <strong>Hit:</strong>
  <%= @actor_status_script.HIT %>
</p>

<p>
  <strong>Avoid:</strong>
  <%= @actor_status_script.AVOID %>
</p>

<p>
  <strong>Critical hit:</strong>
  <%= @actor_status_script.CRITICAL_HIT %>
</p>

<p>
  <strong>Critical avoid:</strong>
  <%= @actor_status_script.CRITICAL_AVOID %>
</p>

<p>
  <strong>Critical damage percent:</strong>
  <%= @actor_status_script.CRITICAL_DAMAGE_PERCENT %>
</p>

<p>
  <strong>Regen health:</strong>
  <%= @actor_status_script.REGEN_HEALTH %>
</p>

<p>
  <strong>Regen mp:</strong>
  <%= @actor_status_script.REGEN_MP %>
</p>

<p>
  <strong>Move speed x:</strong>
  <%= @actor_status_script.MOVE_SPEED_X %>
</p>

<p>
  <strong>Move speed z:</strong>
  <%= @actor_status_script.MOVE_SPEED_Z %>
</p>

<p>
  <strong>Attack speed:</strong>
  <%= @actor_status_script.ATTACK_SPEED %>
</p>

<p>
  <strong>Rage base:</strong>
  <%= @actor_status_script.RAGE_BASE %>
</p>

<p>
  <strong>Rage regen:</strong>
  <%= @actor_status_script.RAGE_REGEN %>
</p>

<p>
  <strong>Cool time all:</strong>
  <%= @actor_status_script.COOL_TIME_ALL %>
</p>

<p>
  <strong>Resist poison:</strong>
  <%= @actor_status_script.RESIST_POISON %>
</p>

<p>
  <strong>Resist silence:</strong>
  <%= @actor_status_script.RESIST_SILENCE %>
</p>

<p>
  <strong>Resist stun:</strong>
  <%= @actor_status_script.RESIST_STUN %>
</p>

<p>
  <strong>Resist slow:</strong>
  <%= @actor_status_script.RESIST_SLOW %>
</p>

<p>
  <strong>Level:</strong>
  <%= @actor_status_script.LEVEL %>
</p>

<p>
  <strong>Voice:</strong>
  <%= @actor_status_script.VOICE %>
</p>

<p>
  <strong>Other idle use:</strong>
  <%= @actor_status_script.OTHER_IDLE_USE %>
</p>

<p>
  <strong>Actor group:</strong>
  <%= @actor_status_script.actor_group_id %>
</p>

<p>
  <strong>Group rank:</strong>
  <%= @actor_status_script.group_rank_id %>
</p>

<p>
  <strong>Special skill:</strong>
  <%= @actor_status_script.special_skill %>
</p>

<p>
  <strong>Special skill percent:</strong>
  <%= @actor_status_script.special_skill_percent %>
</p>

<p>
  <strong>Down time:</strong>
  <%= @actor_status_script.DOWN_TIME %>
</p>

<p>
  <strong>Home ani:</strong>
  <%= @actor_status_script.home_ani %>
</p>

<%= link_to 'Edit', edit_actor_status_script_path(@actor_status_script) %> |
<%= link_to 'Back', actor_status_scripts_path %>
