<p id="notice"><%= notice %></p>

<p>
  <strong>Skill enchant id:</strong>
  <%= @skill_enchant.SKILL_ENCHANT_ID %>
</p>

<p>
  <strong>Enchant num:</strong>
  <%= @skill_enchant.ENCHANT_NUM %>
</p>

<p>
  <strong>Monster grade:</strong>
  <%= @skill_enchant.MONSTER_GRADE %>
</p>

<p>
  <strong>Enchant result:</strong>
  <%= @skill_enchant.ENCHANT_RESULT %>
</p>

<p>
  <strong>Enchant percent:</strong>
  <%= @skill_enchant.ENCHANT_PERCENT %>
</p>

<p>
  <strong>Equal monster bonus:</strong>
  <%= @skill_enchant.EQUAL_MONSTER_BONUS %>
</p>

<p>
  <strong>Money:</strong>
  <%= @skill_enchant.MONEY %>
</p>

<%= link_to 'Edit', edit_skill_enchant_path(@skill_enchant) %> |
<%= link_to 'Back', skill_enchants_path %>
