<p id="notice"><%= notice %></p>

<p>
  <strong>Shop item id:</strong>
  <%= @shop_item.SHOP_ITEM_ID %>
</p>

<p>
  <strong>Hide:</strong>
  <%= @shop_item.HIDE %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @shop_item.GIFT %>
</p>

<p>
  <strong>Store:</strong>
  <%= @shop_item.STORE %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @shop_item.ICON %>
</p>

<p>
  <strong>Price type:</strong>
  <%= @shop_item.PRICE_TYPE %>
</p>

<p>
  <strong>Character level:</strong>
  <%= @shop_item.CHARACTER_LEVEL %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shop_item.PRICE %>
</p>

<p>
  <strong>Shop category:</strong>
  <%= @shop_item.SHOP_CATEGORY %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @shop_item.CAPACITY %>
</p>

<p>
  <strong>Item id:</strong>
  <%= @shop_item.ITEM_ID %>
</p>

<p>
  <strong>Gacha:</strong>
  <%= @shop_item.GACHA %>
</p>

<p>
  <strong>Bonus string:</strong>
  <%= @shop_item.BONUS_STRING %>
</p>

<p>
  <strong>Bonus id:</strong>
  <%= @shop_item.BONUS_ID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop_item.NAME %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @shop_item.EXPLAIN %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @shop_item.START_DATE %>
</p>

<p>
  <strong>End date:</strong>
  <%= @shop_item.END_DATE %>
</p>

<p>
  <strong>Nstore pid:</strong>
  <%= @shop_item.NSTORE_PID %>
</p>

<p>
  <strong>Play pid:</strong>
  <%= @shop_item.PLAY_PID %>
</p>

<%= link_to 'Edit', edit_shop_item_path(@shop_item) %> |
<%= link_to 'Back', shop_items_path %>
